---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: {{ .Values.application.port }}
    targetPort: http
    protocol: TCP
  selector:
    app: {{ .Release.Name }}
