{{- if .Values.gatus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo.fullname" . }}-gatus
  labels:
    {{- include "todo.labels" . | nindent 4 }}
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: {{ include "todo.fullname" . }}-frontend
        group: productivity
        url: "https://{{ include "todo.routeHost" . }}"
        interval: {{ .Values.gatus.interval }}
        conditions:
          {{- range .Values.gatus.conditions }}
          - {{ . | quote }}
          {{- end }}
        alerts:
          - type: slack
            enabled: true
            failure-threshold: 3
            success-threshold: 2
      - name: {{ include "todo.fullname" . }}-backend
        group: productivity
        url: "http://{{ include "todo.fullname" . }}-backend:{{ .Values.backend.service.port }}/docs"
        interval: {{ .Values.gatus.interval }}
        conditions:
          - "[STATUS] == 200"
          - "[RESPONSE_TIME] < 2000"
        alerts:
          - type: slack
            enabled: true
            failure-threshold: 3
            success-threshold: 2
{{- end }}
