{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
